.checkbox_wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.native_checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.custom_box {
  width: 22px;
  height: 22px;
  min-width: 22px;
  margin-right: 10px;
  border: 2px solid rgba(152, 153, 152, 0.5);
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s;
}

.native_checkbox:checked + .custom_box {
  background-color: rgba(0, 82, 59, 1);
  border-color: rgba(0, 82, 59, 1);
  position: relative;
}
