.form {
  display: flex;
  flex-direction: column;
  max-width: 380px;
}

.submit_btn {
  margin-right: 20px;
  height: 45px;
  width: 100px;
}

.cancel_btn {
  height: 45px;
}

.btns {
  display: flex;
  align-items: center;
}
