.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header.main_header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.main_header .logo span {
  color: white !important;
}

.main_header .menu a {
  color: white !important;
  transition: color 0.3s ease-in-out;
}

.main_header .menu a:hover {
  color: #d1d1d1 !important;
}

.main_header .actions .button {
  background-color: white;
  color: black;
  transition: color 0.3s ease-in-out;
}

.main_header .actions .button:hover {
  background-color: rgb(151, 151, 152);
  color: white;
}

.main_header .cart_icon img {
  filter: brightness(0) invert(1);
}

.main_header .badge {
  background-color: white;
  color: black;
}

.main_header .logo img {
  filter: invert(1) brightness(100%);
}

.logo img {
  filter: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  height: 46px;
  border-radius: 10px;
}

.logo span {
  font-size: 28px;
  color: #000000;
  font-size: 25px;
  line-height: 24px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  transition: color 0.3s ease-in-out;
}

.menu a:hover {
  color: #00523b;
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.actions .button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.actions .button:hover {
  background-color: #00523b;
}

.cart_icon {
  position: relative;
}

.cart_icon img {
  height: 32px;
  width: 32px;
}

.badge {
  position: absolute;
  top: -3px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}

@media (max-width: 768px) {
  .header {
    padding: 10px 15px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    gap: 8px;
  }

  .logo img {
    height: 36px;
  }

  .logo span {
    font-size: 20px;
  }

  .menu ul {
    gap: 12px;
    flex-direction: column;
    align-items: center;
  }

  .menu a {
    font-size: 16px;
  }

  .actions {
    gap: 10px;
    flex-direction: column;
  }

  .actions .button {
    padding: 8px 16px;
    font-size: 16px;
    width: 100%;
    text-align: center;
  }

  .cart_icon img {
    height: 26px;
    width: 26px;
  }

  .badge {
    display: none;
  }
}
